body{
    margin: 0px;
    padding: opx;
    font-family: "Protest Revolution", sans-serif;
}
main{
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
margin-top: 50px;
}
section{
    /* background-color: chocolate; */
    width: 80%;
    display: flex;
    justify-content: space-between
}
div{
    background-color: cadetblue;
    width: 20%;
    text-align: center;
    overflow: hidden;
}
img{

    width: 100%;
    height: 300px;
    transition: 1s
}
h3{
    color: white;
}
button{
    width: 100%;
    background-color: rgb(135, 182, 135);
    border: none;
    height: 40px;
    color: black;
}
img:hover{
    /* transform: scale(1.1);    */
    filter: blur(20px);

}
.Rohit{
    width: 100%;
    position: relative;
}
.Kohli{
    width: 100%;
    position: relative;
}
.surya{
    width: 100%;
    position: relative;
}
.gill{
    width: 100%;
    position: relative;
}
.title{
    position: absolute;
    top: 40%;
    left: 40%;
    display: none;
}
.Rohit:hover .title{
    display: block;
}
.Kohli:hover .title{
    display: block;
}
.surya:hover .title{
    display: block;
}
.gill:hover .title{
    display: block;
}