/* h1{
    color: yellow;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
h2{
    color: blue;
}
h3{
    color: red;
}
h4{
    color: blue;
}  */
/* .CSK {
 color: bisque;
} */
#ms{
    color: rgb(107, 58, 58);
}