<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assignment</title>
    <link rel="stylesheet" href="./assignment.css">
    <link rel="shortcut icon" href="C:\Users\Lenovo\Desktop\web tach\image\restaurant-logo-design-(1)-template-b9bd726f6bee3380567f1c9b63a8c99b_screen.jpg" type="image/x-icon">
</head>
<body>
    <nav>
        <ul id="cant">
            <li><a href="">Home</a></li>
            <li id="dropveg"><a href="">Veg</a>
                <ul id="veg">
                <li><a href="">Panner</a></li>
                <li><a href="">Dhal</a></li>
                <li><a href="">Vadapav</a></li>
                </ul>
            </li>
       
            <li id="dropnon-veg"> <a href="">Non-veg</a>
                <ul id="non-veg">
            <li><a href="">Chicken-Biryani</a></li>
            <li><a href="">Tandur-Biryani</a></li>
        </ul>
            </li>
            <li id="dropdrinks"><a href="">Drinks</a>
                <ul id="drinks">
            <li><a href="">Soft</a></li>
            <li><a href="">Hot</a></li>
        </ul>
            </li>
    </ul>
    </nav>
</body>
</html>