<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cards</title>
    <link rel="stylesheet" href="./cards.css">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
</head>
<body>
    <main>
    <section>
    <div>
        <div class="imgcontaner">
            <img src="C:\Users\Lenovo\Desktop\web tach\image\laptop.webp" alt="">
            <h3 class="title">Laptop</h3>
        </div>
       
        <h3>Price:45,000</h3>
        <h3>Rating: 3</h3>
        <button>Add to cart</button>
    </div>
    <div>
        <div class="imgcontaner">
        <img src="C:\Users\Lenovo\Desktop\web tach\image\pant.webp" alt="">
        <h3 class="title">pant</h3>
    </div>
        <h3>Price:5,000</h3>
        <h3>Rating: 4</h3>
        <button>Add to cart</button>
    </div>
    <div>
        <div class="imgcontaner">
        <img src="C:\Users\Lenovo\Desktop\web tach\image\shirt.webp" alt="">
        <h3 class="title">shirt</h3>
        </div>
        <h3>Price:1,000</h3>
        <h3>Rating: 4</h3>
        <button>Add to cart</button>
    </div>
</section>
</main>
</body>
</html>