<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card Assignment</title>
    <link rel="stylesheet" href="cardassignment.css">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <section>
        <div>
            <div class="Rohit">
                <img src="C:\Users\Lenovo\Desktop\web tach\image\HD-wallpaper-rohit-sharma-hitman-cricket-rohitsharma.jpg" alt="">
                <h3 class="title">Rohit</h3>
            </div>
           
            <h3>ICC T20 Ranking: 11</h3>
            <h3>Stike Rate : 130.5</h3>
            <button>View Full carrear</button>
        </div>
        <div>
            <div class="Kohli">
            <img src="C:\Users\Lenovo\Desktop\web tach\image\kohli-ap-10_656_875.avif" alt="">
            <h3 class="title">Kohli</h3>
        </div>
            <h3>ICC ODI Ranking : 6</h3>
            <h3>Stike Rate: 103.4</h3>
            <button>View Full carrear</button>
        </div>
        <div>
            <div class="surya">
            <img src="C:\Users\Lenovo\Desktop\web tach\image\download.jpg" alt="">
            <h3 class="title">Surya</h3>
            </div>
            <h3>ICC T20I Ranking : 1</h3>
            <h3>Strike Rate: 153.5</h3>
            <button>View Full carrear</button>
        </div>
        <div>
            <div class="gill">
            <img src="C:\Users\Lenovo\Desktop\web tach\image\shubman-gill-sjhvhja88xd5pg6m.jpg" alt="">
            <h3 class="title">Gill</h3>
            </div>
            <h3>ICC Test Ranking : 15</h3>
            <h3>Strike Rate:67.8</h3>
            <button>View Full carrear</button>
        </div>
    </section>
    </main>
    
</body>
</html>