body{
    margin: 0px;
    padding: 0px;
}
nav{
    
    background-color: cadetblue;
}
#cant{
    display: flex;
    list-style-type: none;
    margin: 0px;
    
}
a{
    text-decoration: none;
    color: brown;
    padding: 20px;
    display: block; 
}
#menu{
 list-style-type: none;
 padding: 0px;
 margin: 0px;
 background-color: rgb(173, 199, 79);
 position: absolute;
 display: none;
}
#drop:hover #menu{
    display: block;
}
#Layout{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    background-color: rgb(173, 199, 79);
    position: absolute;
    display: none;
}
#droplayout:hover #Layout{
    display: block;
}
a:hover{
background-color: white;
color: hotpink;
}
/* img{
    position: relative;
    top: 30px;
    left: 50px;
} */
/* img{
    position: absolute;
    top:0px ;
    left: 0px; 
}*/
/* img{
    position: sticky;'
    top: 0cm;
    left: 0ch;
} */
/* img{
    position: fixed;
    top: 10px;
    left: 10px;
}  */
/* h1{
    position: fixed;
    top: 10px;
} */
/* #parent{
    color: blue;
    background-color: khaki ;
}
#parent:hover h1{
    color: darkgoldenrod;
} */