<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link rel="stylesheet" href="./form.css">
    <script src="https://kit.fontawesome.com/e1c59ad788.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap"
        rel="stylesheet">

</head>

<body>
    <form action="#">
        <label for="fname">First Name</label><br>
        <input type="text" id="fname" placeholder="Enter First name"><br>

        <label for="lanme">Last name</label><br>
        <input type="text" id="lname" placeholder="Enter last name"><br>

        <label for="mobile">Mobile Number</label><br>
        <input type="number" id="mobile" placeholder="Enter Mobile No."><br>

        <label for="E-mail">E-mail</label><br>
        <input type="email" name="" id="E-mail" placeholder="Enter E-mail"><br>

        <label for="D-O-B">D-O-B</label><br>
        <input type="datetime-local" name="" id="D-O-B"><br>

        <label for="Gender">Gender</label><br>
        <input type="radio" name="Gender" id="Gender"><label for="">Male</label>
        <input type="radio" name="Gender" id=""><label for="">Female</label><br>

        <!-- <label for="">10+2=</label><br>
        <input type="radio" name="cal" id=""><label for="">12</label><br>
        <input type="radio" name="cal" id=""><label for="">17</label><br>
        <input type="radio" name="cal" id=""><label for="">14</label><br> -->

        <label for="">Upload-Image</label><br>
        <input type="file" name="" id=""><br>

        <label for="">Create Password :</label>
        <input type="password" name="" id=""> <br>
        <label for="">Confired Password :</label>
        <input type="password" name="" id=""><br>

        <input type="checkbox" required>
        <label for="">I have read & understand T & C</label><br>
        <input type="checkbox"><label for="">I acceped terms & condition</label><br>

        <select name="" id="">
            <option value="" hidden>----select option---</option>
            <option value="">Front end developer</option>
            <option value=""> Back End developer</option>
            <option value=""> Full Stack developer</option>
        </select>

        <button>Submit</button>
        <button type="reset">Cancel</button>
        <input type="submit">
        
        <input type="color" name="" id=""><br>
        <!-- <input type="url" name="" id=""> -->
        <label for="">Feed back</label>
        <textarea name="" id="" cols="30" rows="10"></textarea>

    </form>

</body>

</html>