<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
    <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/e1c59ad788.js" crossorigin="anonymous"></script>
</head>

<body>
    <main>
        <form action="#">
            <img src="C:\Users\Lenovo\Desktop\web tach\image\download.png" alt="">
            <div class="logocantainer">
                <input type="text" placeholder="Phone No.,User Name or E-mail">
                <i class="fa-solid fa-user"></i>
                <input type="password" placeholder="password">
                <i class="fa-solid fa-unlock"></i>
            </div>
            <button>Login</button>
            <hr>
            <h5>OR</h5>
            <a href="https://m.facebook.com/login/?locale=en_GB" target="_blank"><i
                    class="fa-brands fa-square-facebook"></i> Login with facebook</a>
            <a href="#" target="_blank">Forgot password</a>
        </form>
    </main>
</body>

</html>