body{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: end;
    height: 100vh;
}
footer
{
    display: flex;
    background-color: white;
    justify-content: space-between;
    padding: 20px 0px;
}
#left{
    width: 60%;
    /* background-color: mediumturquoise; */
    display: flex;
}
#Right{
    width: 30%;
    /* background-color: darkorchid; */
    display: flex;
    /* border-left: 2px solid grey; */
}
ul{
    list-style-type: none;
    margin: 0;
}
h3{
    font-size: 20px;
    color: black;
    font-weight: bold;
}
li{
    color: black;
}
a{
    text-decoration: none;
    color:black;
}
#ri{
    margin-left: 20px;
}