<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TataCLiQ</title>
    <link rel="stylesheet" href="./Tatacliq.css">
</head>
<body>
    <footer>
        <div id="left">
            <ul>
            <h3>Tata Market Place</h3>
            <li><a href="">About Us</a></li>
            <li><a href="">Carrers</a></li>
            <li><a href="">Sell with us</a></li>
            <li><a href="">Terms of use</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Affiliates</a></li>
        </ul>
        <ul>
            <h3>Custmore service</h3>
                <li><a href="#">Shopping</a></li>
                <li><a href="#">offer & promotion</a></li>
                <li><a href="#">Payments</a></li>
                <li><a href="#">Cancelletion</a></li>
                <li><a href="#">Refunds & retruns</a></li>
                <li><a href="#">CliQ And PiQ</a></li>
                <li><a href="#">Return to store</a></li>
                <li><a href="#">Review Guildlines</a></li>
        </ul>
        <ul>
            <h3>My TATA CLiQ</h3>
            <li><a href="">My account</a></li>
            <li><a href="">My orders</a></li>
            <li><a href="">My Shopping Bag</a></li>
            <li><a href="">My Wishlist</a></li>
        </ul>
        </div>
        <div id="Right">
            <h3 id="ri">Tata CLiQ ODffering</h3>
          <ul><li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa quibusdam dolore animi consectetur, soluta itaque ad vitae obcaecati, culpa corporis corrupti odio ratione. Atque autem ab, earum quisquam aliquid adipisci repellendus ea modi id illum.</li></ul>
        </div>
    </footer>
</body>
</html>