<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verticalnavbar</title>
    <link rel="stylesheet" href="verticalnavbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
    <ul id="cant">
        <li><a href="#">Home</a></li>
        <li id="vegdrop"><a href="#">veg</a>
           <ul id="vegmenu">
            <li id="Bfdrop"><a href="">Break-fast</a>
                <Ul id="break-fast">
                    <li><a href="">Idali</a></li>
                    <li><a href="">Medu vada</a></li>
                    <li><a href="">Misal-pav</a></li>
                </Ul>
            </li>
            <li id="lunchdr"><a href="">Lunch</a>
            <ul id="lunch">
                <li><a href="">Pannner-roti</a></li>
                <li><a href="">Puri-bhajji</a></li>
                <li><a href="">Zumaka-bhakari</a></li>
            </ul>
            </li>
            <li id="dinnerdr"><a href="">Dinner</a>
                <ul id="dinner">
                    <li><a href="">Basundi</a></li>
                    <li><a href="">Bharli-vang</a></li>
                    <li><a href="">matar-panner</a></li>
                </ul>
            </li>
           </ul>                                                 

        </li>
        <li id="Non-vegdrop"><a href="#">Non-veg</a>
            <ul id="non-vegmenu">
                <li id="break_nvdr"><a href="">Break-fast</a>
                <ul id="break_nv">
                    <li><a href="">Chessy Chicken Roll</a></li>
                    <li><a href="">cheese Omelette</a></li>
                    <li><a href="">Oats haleem</a></li>
                </ul>
                </li>
                <li id="lunchnvdr"><a href="">Lunch</a>
                    <ul id="lunchnv">
                        <li><a href="">Mutton curry</a></li>
                        <li><a href="">GoatC curry</a></li>
                        <li><a href="">lamb karahi</a></li>
                    </ul>
                </li>
                <li id="dr"><a href="">Dinner</a>
                <ul id="dinnernv">
                    <li><a href="">Mutton korma</a></li>
                    <li><a href="">Tadoori lamb chops</a></li>
                    <li><a href="">Malabar Fish Birayani</a></li>
                </ul>
            </li>
            </ul>
        </li>
        <li id="Droopdtinks"><a href="#">Drinks</a>
        <ul id="drinksmenu">
            <li id="colddr"><a href="">Cold Drink</a>
             <ul id="cold">
                <li><a href="">Maza</a></li>
                <li><a href="">fanta</a></li>
                <li><a href="">Sprite</a></li>
             </ul>
            </li>
            <li id="deh"><a href="">Hot Drink</a>
            <ul id="hotdr">
                <li><a href="">Hot chocolate</a></li>
                <li><a href="">Fruit tea</a></li>
                <li><a href="">Mint Tea</a></li>
            </ul>
            </li>
        </ul>
        </li>
    </ul>
</nav>
</body>
</html>